<%- if user_signed_in? %>
	Bienvenido usuario 
	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<%else%>
	<%=render file:"app/views/users/sessions/new.html.erb"%>
	
<%end%>

<% jobopenings=Jobopening.all
for jobopening in jobopenings
%>

<table>
	<tr>
		<td><%=jobopening.tittle%></td>
	</tr>
	<tr>
		<td><%=jobopening.description%></td>
	</tr>	
	
</table>
<%end%>
